.page-upsell header .main-part {
  height: auto;
}
.page-upsell header .main-part .logo {
  height: 78px;
}
@media (max-width: 500px) {
  .page-upsell header .main-part .logo {
    height: auto;
  }
}
.page-upsell header .main-part .upsell-offer-text {
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 15px;
}
@media (max-width: 500px) {
  .page-upsell header .main-part .upsell-offer-text {
    font-size: 4.5vw;
  }
}
.page-upsell header .main-part .upsell-timer {
  background: #FFEFEF;
  padding: 20px;
  margin-top: 15px;
  text-transform: uppercase;
  color: #195895;
  font-weight: 600;
  font-size: 22px;
}
@media (max-width: 500px) {
  .page-upsell header .main-part .upsell-timer {
    font-size: 4.5vw;
  }
}
.page-upsell header .main-part .upsell-timer span {
  color: red;
  font-size: 1.3em;
}
.page-upsell header .main-part .img-hor {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.page-upsell header .main-part .upsell-present {
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 600;
  font-size: 34px;
  margin-top: 26px;
  padding-bottom: 20px;
}
.page-upsell header .main-part .upsell-present > div {
  color: red;
  justify-content: center;
}
.page-upsell header .main-part .upsell-present > div:first-child {
  font-weight: 900;
  margin-bottom: 15px;
}
.page-upsell header .main-part .upsell-present > div div {
  font-size: 36px;
}
.page-upsell header .main-part .upsell-present > div div:last-child {
  font-style: italic;
}
.page-upsell header .main-part .upsell-present > div div img {
  width: 100%;
  max-width: 64px;
  margin: -10px 10px 10px;
}
.page-upsell header .main-part .upsell-present > div em {
  color: #0f538d;
}
.page-upsell header .main-part .below-upsell-present {
  font-size: 4vw;
}
@media (min-width: 500px) {
  .page-upsell header .main-part .below-upsell-present {
    font-size: 20px;
  }
}
.page-upsell header .main-part .below-upsell-present .line-1 {
  justify-content: center;
  font-size: 1.3em;
  line-height: 1;
  margin: 0 5px;
  font-weight: 600;
  letter-spacing: -0.7px;
  max-width: 500px;
  margin: 0 auto;
}
.page-upsell header .main-part .below-upsell-present .line-1 div {
  margin: 0 5px;
  font-size: 1.7em;
  padding-top: 10px;
}
.page-upsell header .main-part .below-upsell-present .line-1 div:first-child {
  -ms-transform: rotate(340deg);
  -webkit-transform: rotate(340deg);
  transform: rotate(340deg);
}
.page-upsell header .main-part .below-upsell-present .line-1 div:last-child {
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}
.page-upsell header .main-part .below-upsell-present .line-2 {
  font-style: italic;
  font-size: 1.1em;
  line-height: 1.2;
  margin-top: 10px;
  font-family: "Brandon Grotesque";
}
.page-upsell header .main-part .below-upsell-present .line-2 b {
  display: block;
  font-weight: 900;
}
.page-upsell .main-product-block {
  max-width: 500px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .page-upsell .main-product-block .right-product-block {
    padding-top: 0;
    text-align: center;
    font-size: 3.3vw;
  }
}
.page-upsell .main-product-block .right-product-block .product-name {
  font-weight: 500;
}
@media (max-width: 991px) {
  .page-upsell .main-product-block .right-product-block .product-name {
    font-size: 3.3vw;
  }
}
@media (max-width: 500px) {
  .page-upsell .main-product-block .right-product-block .product-name {
    font-size: 4.5vw;
  }
}
.page-upsell .main-product-block .right-product-block .retail-price {
  color: #B0B0B0;
  font-weight: 600;
  margin-top: 10px;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  font-size: 20px;
}
@media (max-width: 991px) {
  .page-upsell .main-product-block .right-product-block .retail-price {
    font-size: 3.3vw;
  }
}
@media (max-width: 500px) {
  .page-upsell .main-product-block .right-product-block .retail-price {
    font-size: 4vw;
  }
}
.page-upsell .main-product-block .right-product-block .only-for {
  text-align: center;
  font-size: 20px;
  background: #F4EE52;
  color: red;
  font-weight: 600;
  margin-top: 10px;
  text-transform: uppercase;
  padding: 10px;
}
@media (max-width: 991px) {
  .page-upsell .main-product-block .right-product-block .only-for {
    font-size: 3.3vw;
  }
}
@media (max-width: 500px) {
  .page-upsell .main-product-block .right-product-block .only-for {
    font-size: 4vw;
    margin-top: 5px;
  }
}
.page-upsell .main-product-block .right-product-block .gift-description {
  margin-top: -30px;
  text-align: center;
  font-size: 25px;
  line-height: 1.2;
  color: black;
}
.page-upsell .main-product-block .right-product-block .gift-description .thank-you {
  margin-top: 20px;
  color: #b13334;
  font-weight: 800;
  font-style: italic;
  font-size: 36px;
}
.page-upsell .main-product-block .right-product-block .add-to-order {
  margin-top: 20px;
}
@media (max-width: 500px) {
  .page-upsell .main-product-block .right-product-block .add-to-order {
    margin-top: 10px;
  }
}
.page-upsell .main-product-block .right-product-block .add-to-order #kformSubmit {
  background: #3FC861;
  color: #fff;
  text-transform: uppercase;
  display: block;
  font-size: 22px;
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 10px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
}
@media (max-width: 991px) {
  .page-upsell .main-product-block .right-product-block .add-to-order #kformSubmit {
    font-size: 3.5vw;
  }
}
@media (max-width: 500px) {
  .page-upsell .main-product-block .right-product-block .add-to-order #kformSubmit {
    font-size: 4.2vw;
  }
}
.page-upsell .main-product-block .right-product-block .add-to-order #kformSubmit:hover {
  opacity: 0.75;
}
.page-upsell .main-product-block .right-product-block .below-upsell-button {
  text-align: center;
  font-weight: 600;
  margin-top: 7px;
}
.page-upsell .main-product-block .right-product-block .no-thanks {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.page-upsell .main-product-block .right-product-block .no-thanks a {
  color: #B2B2B2;
  font-weight: 300;
  text-decoration: underline;
}
.page-upsell .main-product-block .right-product-block .no-thanks a:hover {
  text-decoration: none;
}
@media (max-width: 500px) {
  .page-upsell .main-product-block .right-product-block .no-thanks a {
    font-size: 3.8vw;
  }
}
.page-upsell.page-upsell-3 header {
  box-shadow: none;
}
.page-upsell.page-upsell-3 header .main-part .upsell-present > div {
  font-style: italic;
  letter-spacing: -3px;
  font-size: 8vw;
}
@media (min-width: 500px) {
  .page-upsell.page-upsell-3 header .main-part .upsell-present > div {
    font-size: 42px;
  }
}
.page-upsell.page-upsell-3 header .main-part .upsell-present > div:last-child {
  line-height: 1;
}

/*# sourceMappingURL=upsell.css.map */
